<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465380382819-fia7ubio77nokrrb74uk9431k2bg18aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465380382819-fia7ubio77nokrrb74uk9431k2bg18aj</string>
	<key>API_KEY</key>
	<string>AIzaSyBXUEQmbOYmVvw6EnPppEhqxz6W1z1nH08</string>
	<key>GCM_SENDER_ID</key>
	<string>465380382819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.familsamadli.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios13-58aab</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios13-58aab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465380382819:ios:860b643f398b1831198056</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-ios13-58aab.firebaseio.com</string>
</dict>
</plist>